{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "umd",
        "targets": {
          "chrome": "85",
          "firefox": "80"
        },
        "useBuiltIns": "usage",
        "corejs": "3.6.4"
      }
    ]
  ]
}
