{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "umd",
        "targets": {
          "chrome": "90",
          "firefox": "88"
        },
        "useBuiltIns": "usage",
        "corejs": "3.12.1"
      }
    ]
  ]
}
